*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex ;
    width: 100%;    
    /* justify-content: space-around; */
}
  .leftSide{
    height: 100vh;
    width: 50%;
  
    /* background:url(img/image_png.png) ; */
 }
 img{
    height: 100vh;
    width: 800px;
 }

.rightSide{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
}

.rightSide h1{
    font-weight: bold;
    font-size: 60px;
    color: #FF7900;
    margin-bottom: 50px;
    margin-top: -100px;
}

.inputs{
    width: 450px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
}

 #checkSection{

    margin-left: -340px;
    margin-bottom: 5px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
     */
} 


button{
    width : 400px ;
    height: 40px;
    background-color:#FF7900 ;
    font-size: 25px;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    color: white;
    margin-bottom: 10px;
    margin-top: 40px;

}

.par{
    text-align: center;
}
/* .rightSide{ */
    /* text-align: center; */
    /* align-content: center;
    
}

h1 {
    font-weight: bold;
    color: #FF7900;
    font-size: 60px;
    margin: 50px 0px;
}

.inputs{
    width: 500px ; 
    height: 40px;
    margin: 10px 0;
    margin-left: -150px;

}

#checkSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}

#checkSection p {
    margin-left: 230px;
}

#remember {
 
margin-left: -150px; 
}

button{
    width : 400px ;
    height: 40px;
    margin-left: -100px;
    background-color:#FF7900 ;
    font-size: 25px;
    font-weight: bolder;
} */ 

/* @media (max-width:481px) {
    .leftSide{ display: none;}} */

  
    

    
    /* h1 {
        text-align: center;
    font-size: 60px;
    color: #FF7900;
    margin-bottom: 50px;
    }
    .inputs{
        width: 100%;
        height: 40px;
        margin: 10px 0;
        border-radius: 5px;
        padding: 10px;
    }
    button{
        width : 100% ;
        height: 40px;
      
    } */

    
    @media (max-width:481px){
        body{
            background-image: url(img/image_png.png);
            height: 100vh;
            width: 100%;
            
        }
        img{
            display: none;
        }
        
        .leftSide{
          text-align: center;
          margin-left: -80px;
          color: black;
        }
    
        .inputs{
            width: 250px
        }
        #checkSection{

            margin-left: -140px;
        }
        button{
            width: 200px;
        }
    }
    @media screen and ( min-width:482px) and (max-width:768px) {

        img{
            width: 420px;
        }

        .leftSide{
            text-align: center;
        
            color: white;
          }
          h1{
            margin-right: -50px;
          }
      
          .inputs{
              width: 300px ; 
              margin-right:-40px;
              
          }
          #checkSection{

            margin-left: -140px;}

          button{
            width: 250px;
            margin-right: -50px;
        }
    }


    